html,body{
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.breadcrumbs{
    background-color: rgb(161, 26, 37);
    width: 100%;
    height: 150px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    position: relative;
}

.breadcrumbs > a{
    position: relative;
    left: 5%;
    top: 40%;
    text-decoration: none;
    color: white;
    margin: auto;
}

.breadcrumbs > a:last-child{
    border-left: solid 1.5px white;
    padding-left: 5px;
}

.content-container{
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.overflow-container{
    position: relative;
    top: -40px;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
}

.content-title{
    border-left: solid 10px grey;
    width: 100%;
    height: 100px;
    position: relative;
}

.content-title > h1{
    margin: 0 0 0 30px;
    top: 60%;
    position: relative;
    font-family: "titillium_webregular";
    font-size: 20px;
}

.content{
    padding: 30px;
}

.content p{
    font-size: 1.1em;
}

.content ul{
    list-style-type: none;
    padding-left: 0;
}

.content ul > li{
    padding: 5px 0;
}

.content ul > li:before{
    font-size: 19px;
    position: relative;
    top: -3px;
    left: -20px;
    display: block;
    max-width: 0;
    max-height: 0;
    content: "-";
    color: inherit;
}

.inner-li{
    padding-left: 40px !important;
}

.inner-inner-li{
    padding-left: 80px !important;
}

.inner-inner-inner-li{
    padding-left: 120px !important;
}

.faq{
    width: 100%;
    padding-bottom: 5px;
}

.faq-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0 20px 0;
    cursor: pointer;
    padding-bottom: 0;
}

.faq-title > a{
    font-family: "titillium_webregular";
    font-size: 1.5em;
}

.arrow-accordion{ 
    font-size: 45px;
    color: black;
    font-weight: bold;
    transition: transform 0.5s ease;
}

.arrow-accordion-div{
    padding-top: 5%;
}

.arrow-accordion.active{
    transform: rotate(180deg);
}

.faq-content{
    max-height: 0px;
    transition: max-height 0.25s ease-out;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    padding-left: 40px;
}

.faq-content a{
    color: red;
    text-decoration: none;
}

.general-details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.general-details > div{
    width: 40%
}

.general-details ul{
    margin-top: 0;
}

@media (max-width: 768px){
    .content-container{
        width: 100%;
    }
}

@media (max-width: 480px){
    .general-details{
        flex-direction: column;
    }
    .general-details > div{
        width: 100%;
    }
    .general-details > div > p{
        margin-top: 0;
    }

}

